.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tabs-container {
  display: flex;
} 


.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pad {
  height: 600px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
  overflow: auto;
}

.placeholder {
  font-size: 1em;
  text-align: center;
  margin-top: 15px;
  color: #a3a3a3;
  justify-items: "center";
}

.to-do-items {
  list-style: none;
  margin: 0;
  padding: 0;
}